/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
		url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--main-color: #C70025;
	--color-text: #3A3A4D;
	--hightlight-color: White;

	--background-color: #cccccc;
	--background-highlight-color: #ffffff;

	--shadow-color: #bfafb2;
}


/****************/
/* JOUW STYLING */
/****************/
body {
	font-family:Helvetica, 'Open sans', sans-serif;
	color: var(--color-text);
	background-color: var(--color-background);

	padding: 0;
	margin: 0;
}

/* jouw code */


/*************/
/* DARK MODE */
/*************/
@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #eee;
		--color-background: #292C35;
	}
}

/*************/
/* MAIN PAGE */
/*************/

h1 {
	text-align: center;

	padding: .5em;
	margin-top: 0;
	margin-bottom: 1.5em;

	color: var(--hightlight-color);
	background-color: var(--main-color);
}

/*************/
/*  button   */
/*************/


/* de lijst met foto's */
ul {
	display: grid;
	grid-gap: 3em;
	margin: 0;
	padding: 0 2em 2em;
	list-style: none;
		transition: left .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
}


li {
	position: relative;

	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	padding: 1.5em 1.5em 0;

	background-color: var(--background-highlight-color);
	box-shadow: 0 0 .5em, .25em .25em .25em var(--shadow-color);

	cursor: grab;
}

li:hover{
    box-shadow: 0 0 20px rgba(50,50,50,.2);
}

/* picking up the li */
li.sortable-ghost {
	opacity: .25;
}

li.sortable-drag {
	cursor:grabbing;
}

/* turning the listed items slightly */
li:nth-of-type(9n+1) {
	transform: rotate(1deg);
}

li:nth-of-type(9n+2) {
	transform: rotate(-.5deg);
}

li:nth-of-type(9n+3) {
	transform: rotate(1.75deg);
}

li:nth-of-type(9n+4) {
	transform: rotate(-1.25deg);
}

li:nth-of-type(9n+5) {
	transform: rotate(-.5deg);
}

li:nth-of-type(9n+6) {
	transform: rotate(3.25deg);
}

li:nth-of-type(9n+7) {
	transform: rotate(.5deg);
}

li:nth-of-type(9n+8) {
	transform: rotate(-2.25deg);
}

li:nth-of-type(9n+9) {
	transform: rotate(-.75deg);
}

/* text in the pictures*/
h2 {
	min-height: 3em;
	margin: 1em;

	font-size: 1.3em;
	line-height: 1em;
	text-align: center;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/*******************/
/*  phone display  */
/*******************/


@media (min-width:24em) {
	ul {
		grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
	}
}
